<!DOCTYPE HTML>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<title>选座</title>
<meta name="keywords" content="jQuery,选座">
<link rel="stylesheet" type="text/css" href="../css/main.css" />
<style type="text/css">
      body{margin: 0px;padding:0px;overflow: scroll;background-image:url("bimg/B1.jpg")}
      div,ul,li,a,img,h4,span{margin: 0;padding: 0;}
       a{text-decoration: none;color: black;}
       ul{list-style: none;}

        .top{padding: 0px;margin: 0px;background-color:#008ed4;margin-bottom: 30px;}
        .top .navbar{padding: 0px;margin: 0px;}
        .top .navbar .navbar-inner{padding: 0 5px;margin: 0px;}
        .top .navbar .navbar-inner .container{overflow: hidden;}
        .top .navbar .navbar-inner .container-left{margin-left:60px;height:60px;line-height: 60px;float: left;color: white;font-size: 20px;}
        .top .navbar .navbar-inner .container-right{overflow: hidden;}
        .top .navbar .nav{list-style: none;padding: 0px;margin: 0px;}
        .top .navbar .nav .navbar-item{display: block;height:60px;line-height: 60px;float: right;padding: 5px 0;margin-right: 2px;}
        .top .navbar .nav .navbar-item:hover{background-color:#77DAE4;}
        .top .navbar .nav .navbar-item a{text-decoration: none;color: white;text-align: center;padding: 0 10px;}
        .top .navbar .nav .navbar-item a:hover{background-color:#77DAE4;}
        .top .navbar .nav .page{background-color:#77DAE4;}

        .demo{width:700px; margin:40px auto 0 auto; min-height:530px;}
        @media screen and (max-width: 360px) {.demo {width:340px}}
         
        #main{width: 980px;margin:0 auto;}
        .front{width: 300px;margin: 5px 32px 45px 32px;background-color: #f0f0f0; color: #666;text-align: center;padding: 3px;border-radius: 5px;}
        .booking-details {float: right;position: relative;width:200px;height: 530px; }
        .booking-details h3 {margin: 5px 5px 0 0;font-size: 16px;}
        .booking-details p{line-height:26px; font-size:16px; color:#999}
        .booking-details p span{color:#666}
        div.seatCharts-cell {color: #182C4E;height: 25px;width: 25px;line-height: 25px;margin: 3px;float: left;text-align: center;outline: none;font-size: 13px;}
        div.seatCharts-seat {color: #fff;cursor: pointer;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;}
        div.seatCharts-row {height: 35px;}
        div.seatCharts-seat.available {background-color: #B9DEA0;}
        div.seatCharts-seat.focused {background-color: #76B474;border: none;}
        div.seatCharts-seat.selected {background-color: #E6CAC4;}
        div.seatCharts-seat.unavailable {background-color: #472B34;cursor: not-allowed;}
        div.seatCharts-container {border-right: 1px dotted #adadad;width: 400px;padding: 20px;float: left;}
        div.seatCharts-legend {padding-left: 0px;position: absolute;bottom: 0px;}
        ul.seatCharts-legendList {padding-left: 0px;}
        .seatCharts-legendItem{float:left; width:90px;margin-top: 10px;line-height: 2;}
        span.seatCharts-legendDescription {margin-left: 5px;line-height: 20px;}
        .checkout-button {display: block;width:80px; height:24px; line-height:20px;margin: 10px auto;border:1px solid #999;font-size: 14px; cursor:pointer;background-color:#008ed4; color: white;}
        .checkout-button:hover{background-color: #E4AF75;color: black;}
        #selected-seats {max-height: 150px;overflow-y: auto;overflow-x: none;width: 200px;}
        #selected-seats li{float:left; width:72px; height:26px; line-height:26px; border:1px solid #d3d3d3; background:#f7f7f7; margin:6px; font-size:14px; font-weight:bold; text-align:center}
</style>

</head>

<body>
   <div class="top">
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
            <div class="container-left">
              <span><em>谭宝宝的电影院</em></span>
            </div>
          <div class="container-right">
            <ul class="nav">
              <li class="navbar-item">
                <a href="seaRch">在线购票</a>
              </li>
              <li class="navbar-item">
                <a>招聘</a>
              </li>
              <li class="navbar-item">
                <a>app</a>
              </li>
              <li class="navbar-item">
                <a>活动</a>
              </li>
              <li class="navbar-item">
                <a>影城</a>
              </li>
              <li class="navbar-item">
                <a href="/">首页</a>
              </li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
    <div class="search"></div>
   </div>

   <div id="main">
       <div class="demo">
          <div id="seat-map">
          <div class="front">屏幕</div>         
        </div>
        <div class="booking-details">
          <p>影片：<span><%=con.filmname%></span></p>
          <p>时间：<span><%=con.date%> <%=con.time%></span></p>
		  <p>放映厅：<span><%=con.place%></span></p>
		  <p>类型：<span><%=con.D%></span></p>
          <p>座位：</p>
          <ul id="selected-seats"></ul>
          <p>票数：<span id="counter">0</span></p>
          <p>总计：<b>￥<span id="total">0</span></b></p>
              
          <a><button class="checkout-button">确定购买</button></a>
              
          <div id="legend"></div>
        </div>
        <div style="clear:both"></div>
       </div>
      
      <br/>
  </div>
    <script type="text/javascript" src="javascripts/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.seat-charts.min.js"></script>
    <script type="text/javascript">
	var zuowei = new Array();
    var price = <%=con.price%>; //票价
    $(document).ready(function() {
      var $cart = $('#selected-seats'), //座位区
      $counter = $('#counter'), //票数
      $total = $('#total'); //总计金额
      
      var sc = $('#seat-map').seatCharts({
        map: [  //座位图
                'aaaaaaaaaa',
                'aaaaaaaaaa',
                '__________',
                'aaaaaaaaaa',
                'aaaaaaaaaa',
                'aaaaaaaaaa',
                'aaaaaaaaaa',
                'aaaaaaaaaa',
                'aaaaaaaaaa',
                'aa__aa__aa'
        ],
        naming : {
          top : false,
          getLabel : function (character, row, column) {
            return column;
          }
        },
        legend : { //定义图例
          node : $('#legend'),
          items : [
            [ 'a', 'available',   '可选座' ],
            [ 'a', 'unavailable', '已售出']
          ]         
        },
        click: function () { //点击事件
          if (this.status() == 'available') { //可选座
            $('<li>'+(this.settings.row+1)+'排'+this.settings.label+'座</li>')
              .attr('id', 'cart-item-'+this.settings.id)
              .data('seatId', this.settings.id)
              .appendTo($cart);
			zuowei.push((this.settings.row+1)+"排"+this.settings.label+"座");
            $counter.text(sc.find('selected').length+1);
            $total.text(recalculateTotal(sc)+price);
                  
            return 'selected';
          } else if (this.status() == 'selected') { //已选中
              //更新数量
              $counter.text(sc.find('selected').length-1);
              //更新总计
              $total.text(recalculateTotal(sc)-price);
                
              //删除已预订座位
              $('#cart-item-'+this.settings.id).remove();
              //可选座
              return 'available';
          } else if (this.status() == 'unavailable') { //已售出
            return 'unavailable';
          } else {
            return this.style();
          }
        }
      });
      //已售出的座位
      var unava = new Array();
	  for (var i=0; i<<%=con.rand%>; i++)
		{
			var temp_r = Math.floor(Math.random()*10+1);
			while(temp_r===3 || temp_r ===10)
			{
				  var temp_r = Math.floor(Math.random()*10+1);
			}
				  var temp_c = Math.floor(Math.random()*10+1);
				  unava.push(temp_r+'_'+temp_c);
			}
	  
	  //Need to send a Array here.
      sc.get(unava).status('unavailable');
        
    });
    //计算总金额
	var temp;
	var c=0;
    function recalculateTotal(sc) {
      var total = 0;
      sc.find('selected').each(function () {
        total += price;
      });
      temp = total+<%=con.price%>;
      return total;
    }
	
	//var ticket = ;
	//var price = <%=con.price%>*;
	$(".checkout-button").click(function(){
	if(temp===undefined)
	{alert("您还没有买票哦~");
	c=0;
	return;
	}
	if(confirm("昵称:  doger\n类型:  <%=con.D%>\n影片:  <%=con.filmname%>\n座位: "+zuowei+" \n时间  :<%=con.date%> - <%=con.time%>\n时长:  <%=con.timelong%>\n放映厅:  <%=con.place%>\n邮箱:  user@scut.com\n电话:  1230000\n地址:  C10\n\n\n订单价格: " + temp +"\n")){
	if(c===1){alert("请按f5刷新页面~");return;}
	c=1;
	temp = undefined;
	location.href = 'finish';
	}
	});
	
    </script>
</body>
</html>
